:root{
    --var_size: 100px;
}

body{
    font-family: Arial;
    text-align: center;
}

h1{
    text-align: center;
}

.game-board{
    margin: auto;
    display: grid;
    grid-template: var(--var_size) var(--var_size) var(--var_size) / var(--var_size) var(--var_size) var(--var_size);
    grid-gap: 5px;
    justify-content: center;
}

.square{
    background-color: beige;
    border: 1px;
    border-style: solid;
    text-align: center;
    line-height: var(--var_size);
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin-top: 20px;
    padding: 5px;
    font-size: 25px;
}